requestOne.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/requestOne/" targetNamespace="http://www.example.org/requestOne/">
    <complexType name="Cat">
    	<sequence>
    		<element name="name" type="string"></element>
    	</sequence>
    </complexType>

    <element name="cat" type="tns:Cat"></element>
</schema>